* {
margin: 0;
padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(233, 126, 186);
    color: #333;
}

header {
    margin: 0;

    background-color: rgb(252, 171, 244);
    color: rgb(240, 63, 164);
    padding: 1em;
    
    
}

h1 {
    font-family: cursive;
    font-size: 50px;
    font-style: italic;
}

header nav a {
    color: rgb(240, 63, 164);
    margin: 0 1em;
    text-decoration: none;
    text-align: left;
}

main {
    text-align: center;
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

h2 {
    color: black;
    font-family: cursive;
    font-style: italic;
    font-size: 35px;
    
    padding-bottom: 0.5em;
}

article, .video {
    margin-bottom: 1
}


    
    header {
        background-image: url("images/ .png");
        background-size: cover;
        background-position: center;
        color: rgb(240, 63, 164);
        padding: 2em;
        text-align: center;
    }
    
    footer {
        background-image: url("images/ oregon1.png");
        background-size: cover;
        background-position: center;
        color: #000000;
        padding: 1em;
        text-align: center;
    }
    
    
    @media (max-width: 600px) {
        .header {
            padding: 30px 10px;
        }
        
        .main {
            padding: 2em;
            }
        
        .footer {
            padding: 15px 0;
        }
    }





/* YouTube Button Style */
.icon-button.youtube {
    background-color: #FF0000;
}

.icon-button.youtube:hover {
    transform: scale(1.1);
}

/* TikTok Button Style */
.icon-button.tiktok {
    background-color: #000000;
}

.icon-button.tiktok:hover {
    transform: scale(1.1);
}

    /* General Styles for Icon Buttons */
.icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: transform 0.3s;
}

.icon-button.envelope {
    background-color: #0000ff;
}

.icon-button.envelope:hover {
    transform: scale(1.1);
}

.icon-button.envelope {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: transform 0.3s;
}
  
